/* Dominic Cook */
body {
  /* comment  */
  background-color: red; 
  /* comment */
  color: navy; 
}

/* comment */
nav {
  height: 6000px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height: 30px;
}

/* Comment  */
footer {
  text-align: center;
  margin-right: 200px;
}

/* comment   */
# img.asssignment1.1 small.png{
  margin-right: 200px;
}

/* comment   */
header {
  text-align: center;
}